<template>
  <div class="container-lg px-4 pt-8 bg-slate-100 pb-4">
    <form class="w-full max-w-lg">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="title"
          >
            Title
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="title"
            type="text"
            placeholder="Provide a title to the process"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="grid-zip"
          >
            Select date and time
          </label>
          <VueDatePicker
            class="block w-full border-gray-200 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            v-model="date"
          ></VueDatePicker>
        </div>
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

const date = ref(null);
</script>

<style>
.dp__action_button.dp__action_select {
  background-color: #3176d2;
}
.dp__action_button.dp__action_select:hover {
  background-color: #0e448a;
}
</style>
