<template>
  <!-- <ProcessForm /> -->
  <BigCalendar />
</template>

<script lang="ts">
import { ref } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import ProcessForm from './components/ProcessForm.vue';
import BigCalendar from './components/BigCalendar.vue';

export default {
  components: { VueDatePicker, ProcessForm, BigCalendar },
  setup() {
    const date = ref();

    return {
      date
    };
  }
};
</script>
